<div class="container mx-auto text-center">
  <%= link_to "Back to connections", root_path, class: "btn btn-primary mb-3" %>
  <%= link_to "Back to accounts", connection_accounts_path(params[:connection_id]), class: "btn btn-secondary mb-3" %>

  <h1>Transactions</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Made on</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.description %></td>
          <td><%= transaction.amount.to_f.round(2) %></td>
          <td><%= transaction.currency_code %></td>
          <td><%= transaction.made_on.to_date.as_json %></td>
          <td><%= transaction.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
